<div class="container">
    <div class="tables scrool">
        <div class="title">
            <div>
                <input type="text" placeholder="Filtre">
            </div>
            <span>
                <svg (click)="laodModalTable()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
            </span>
        </div>
        <div class="list">
            <div class="box-table" *ngFor="let f of (tables$ | async); let i = index">
                <div class="div-table">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
                    <p (click)="selectTable(f)">{{f.name}}</p>
                </div>
                <span sub-menu>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 256a56 56 0 1 1 112 0A56 56 0 1 1 0 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"/></svg>
                </span>
                <div class="sub-menu">
                    <ul>
                        <li (click)="selectTable(f)">Ouvrir</li>
                    </ul>
                    <ul>
                        <li><a href="https://restapi.fr/api/{{f.name}}" target="_blank">Ouvrir le lien</a></li>
                        <li>Paramètres</li>
                    </ul>
                    <ul>
                        <li (click)="deleteTable(f._id)" class="delete">Supprimer la table</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->
    <div class="content">
        <nav *ngIf="(isContents$ | async)">
            <div class="top">
                <ul class="content-menu">
                    <li>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                            <p>Ajouter</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                            <p>Supprimer</p>
                        </div>
                    </li>
                </ul>
                <ul class="search">
                    <li>
                        <div>
                            <input type="text" placeholder="Recherche">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="bottom">
                <ul>
                    <li>json</li>
                    <li>xml</li>
                    <li>table</li>
                </ul>
            </div>
        </nav>
        <!-- <section class="section-table">
            <table *ngIf="!(isContents$ | async)">
                <thead>
                    <tr>
                        <th *ngFor="let k of (keys$ | async)">{{k}}</th>
                        <th class="end"></th>
                    </tr>
                </thead>
                <tbody class="scrool2">
                    <tr *ngFor="let c of (contents$ | async)">
                        <td *ngFor="let k of (keys$ | async)">{{c[k]}}</td>
                        <td class="end"></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="section-params">
            <div class="properties">
                <div class="params-title">
                    <p>Propriétées</p>
                </div>
                <div *ngFor="let p of (properties$ | async)" class="p-bloc">
                    <div>
                        <div class="p-value">
                            <div>
                                <p>{{ p.key }}</p>
                            </div>
                            <div class="div-type">
                                <p>Type:</p>
                                <select disabled>
                                    <option *ngFor="let t of types" [value]="t" [selected]="t == p.type">{{t}}</option>
                                </select>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data">
                <div class="params-title">
                    <p>Données</p>
                </div>
            </div>
        </section> -->
    </div>
    <!-- content -->
</div>
<!-- *ngIf="(tableIsLoad$ | async)" -->
<app-m-table *ngIf="(isTableModalLoad$ | async)"></app-m-table>