<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container heightVH d2">
    <header class="flex align-items-center justify-content-space-between">
      <div class="p-title">
        <p class="flext" routerLink="/">RESTAPI ADMIN</p>
      </div>
      <div class="li-menu">
        <ul>
          <li routerLink="/">Base de données</li>
          <li routerLink="/params">Paramètres</li>
        </ul>
      </div>
      <div class="profil">
        <ul>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448 256c0-106-86-192-192-192V448c106 0 192-86 192-192zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/></svg>
          </li>
          <li><a>Profil</a> | </li>
          <li><a>Déconnexion</a></li>
        </ul>
      </div>
    </header>
    <div class="main">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
</body>
</html>