<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <header>
      <div class="p-title">
        <p>RESTAPI ADMIN</p>
      </div>
      <div class="li-menu">
        <ul>
          <li routerLink="/">Base de données</li>
          <li routerLink="/params">Paramètres</li>
        </ul>
      </div>
      <div class="profil">
        <ul>
          <li><a>Profil</a> | </li>
          <li><a>Déconnexion</a></li>
        </ul>
      </div>
    </header>
    <div class="main">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
</body>
</html>