<div class="modal">
    <div class="m-container">
        <div class="m-modal">
            <div class="title">
                    <h3>Modifier le contenue</h3>
                    <span (click)="laodModalTable()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
                    </span>
            </div>
            <form [formGroup]="form" (ngSubmit)="submit()" class="form-selector">
                <div class="content-menu">
                    <div>
                        <div class="form-container">
                            <select formControlName="type">
                                <option value="string" selected>String</option>
                                <option value="number">Number</option>
                                <option value="boolean">Boolean</option>
                                <option value="date">Date</option>
                            </select>
                            <div class="div-button" (click)="addContent()">
                                <p>Valider</p>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="save-button" [disabled]="!keys.controls.length">Enregistrer</button>
                        </div>
                    </div>
                    <div>
                        <input formControlName="checkbox" type="checkbox">
                        <p>Ajouter de la data</p>
                        <select formControlName="seed" [attr.disabled]="form.value.checkbox === false ? true : null">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                        </select>
                    </div>
                </div>
                <div class="array_list">
                    <div class="c-table">
                        <table formArrayName="keys">
                            <thead>
                                <tr>
                                    <th>Clé</th>
                                    <th>Options</th>
                                    <th>Data</th>
                                    <th>Supprimé</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr [formGroupName]="i" *ngFor="let k of keys.controls; let i = index">
                                    <td><input formControlName="key" type="text"></td>
                                    <td>
                                        <select *ngIf="k.value.type === 'string'" formControlName="option" id="string">
                                            <option value="">--config seed--</option>
                                            <option value="random">Texte aléatoire</option>
                                            <option value="selected">Texte selectionné</option>
                                        </select>
                                        <select *ngIf="k.value.type === 'number'" formControlName="option" id="number">
                                            <option value="">--config seed--</option>
                                            <option value="random">Nombre aléatoire</option>
                                            <option value="selected">Nombre selectionné</option>
                                        </select>
                                        <select *ngIf="k.value.type === 'boolean'" formControlName="option" id="boolean">
                                            <option value="">--config seed--</option>
                                            <option value="random">Valeur aléatoire</option>
                                            <option value="selected">Valeur selectionnée</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input formControlName="content" type="text" *ngIf="k.value.type === 'string'" [attr.disabled]="k.value.option === 'random' ? true : null" [ngClass]="{'disabled-input': k.value.option === 'random', 'enabled-input': k.value.option === 'selected' }">
                                        <input formControlName="content" type="number" *ngIf="k.value.type === 'number'" [attr.disabled]="k.value.option === 'random' ? true : null" [ngClass]="{'disabled-input': k.value.option === 'random', 'enabled-input': k.value.option === 'selected' }">
                                        <select formControlName="content" *ngIf="k.value.type === 'boolean'" [attr.disabled]="k.value.option === 'random' ? true : null" [ngClass]="{'disabled-input': k.value.option === 'random', 'enabled-input': k.value.option === 'selected' }">
                                            <option value=""></option>
                                            <option value="true">true</option>
                                            <option value="false">false</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
